[*.fs]
indent_size = 2
max_line_length = 122
insert_final_newline = true
fsharp_multiline_bracket_style = stroustrup
fsharp_multi_line_lambda_closing_newline = true
fsharp_align_function_signature_to_indentation = true
